[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
sqlalchemy = "*"
flask-jwt-extended = "*"
bcrypt = "*"
mysql = "*"
mysqlclient = "*"
mysql-connector-python = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.12"
